<% show_flash %>
<h2>Admin control panel</h2>
<%= link_to "Import a new list", :controller => 'admin', :action => 'import_list' %><br/>
<%= link_to "Create survey", :controller => 'surveys', :action => 'index' %><br/>
