<div id="list">
<h3>Previous Calls:</h3>
   <ul>
     <% for previous_survey_reply in @previous_survey_replies do %>
       <li>
         <%= link_to previous_survey_reply.name, :action => 'edit', :id => previous_survey_reply.id, :view => params[:view] %>
       </li>
     <% end %>
      <li><%= link_to "Full list", :action => 'manage' %></li>
  </ul>
</div><!--end list-->